# =========================
# Python 기본 캐시/환경 파일
# =========================
__pycache__/
*.py[cod]
*$py.class
test.py # test
# 가상환경
venv/
.env/
.venv/
env/
ENV/

# 환경변수 파일
.env
.env.local


# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/


# =========================
# VSCode / IDE 설정
# =========================
.vscode/
.idea/


# =========================
# OS 파일
# =========================
.DS_Store
Thumbs.db


# =========================
# 데이터셋 / 원본 이미지 폴더
# =========================

# YOLO 데이터셋
auto_label/auto_check/
auto_label/auto_lable_source/images/
auto_label/auto_label_remodel/
auto_label/dataset_4class_single
dataset_v1/
unlabeled_images/
auto_label_results/
model1/dataset_v1_yolo26n_aug/

# 오토라벨링 라벨 txt 결과
# 라벨 txt까지 GitHub에서 제외하고 싶으면 아래 주석을 해제
# auto_labels/


# =========================
# YOLO / Ultralytics 실행 결과
# =========================

# 예측 결과 이미지 폴더 제외
runs/detect/predict*/
runs/segment/predict*/
runs/classify/predict*/

# 오토라벨링 결과가 runs 안에 저장되는 경우 대비
runs/**/predict*/
runs/**/auto_label*/
runs/**/auto_labels*/
runs/**/auto_label_results*/


# =========================
# 모델 가중치 파일
# GitHub 용량 초과 방지
# =========================
*.pt
*.pth
*.onnx
*.engine
*.tflite
*.torchscript
*.keras
*.h5


# =========================
# 영상 파일
# =========================
*.mp4
*.avi
*.mov
*.mkv


# =========================
# 압축 파일
# =========================
*.zip
*.tar
*.tar.gz
*.rar
*.7z


# =========================
# 로그 / 임시 파일
# =========================
*.log
*.tmp
*.temp